---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Header from "../../../components/sections/Header.astro";
import TitleSection from "../../../components/sections/TitleSection.astro";
import {
  getLangFromUrl,
  getTranslation,
  getProject,
} from "../../../i18n/utils";
import Paragragh from "../../../components/Paragragh.astro";
import ProjectLink from "../../../components/ProjectLink.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
const project = getProject("project1", lang);
---

<BaseLayout pageTitle={t("pageTitle") as string}>
  <Header />
  <main>

    <TitleSection
      title={project?.title as string}
      className="experience-title-section"
      id="experience-title-section"
    />
    <ProjectLink
      linkedin={project?.linkedin.url as string}
      github={project?.github.url as string}
      website={project?.website.url as string}
    />
    <Paragragh
      text={project?.description as string}
      className="project"
    />
  </main>
</BaseLayout>
