@import url("./variables.css");
    
html {
    background-color: var(--primary-color);
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html.dark {
    background-color: #181A23;
    color: var(--white-color);
}
    
body {
    font-family: Hanken Grotesk, Host Grotesk, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 85%;
    margin: 26px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
    
* {
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    body {
        max-width: 90%;
        margin: 48px auto;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 85%;
        margin: 48px auto;
    }
}

@media screen and (min-width: 1280px) {
    body {
        max-width: 75%;
        margin: 56px auto;
    }
}