@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: var(--cuaternary-bg-color);
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html.dark {
    background-color: var(--primary-bg-color);
    color: var(--white-color);
}
    
body {
    font-family: "Montserrat", sans-serif;
    margin: 48px auto;
    width: 100%;
    max-width: 87.5ch;
}
    
* {
    box-sizing: border-box;
}

@media screen and (max-width: 636px) {
    body {
        width: 87%;
        margin: 26px auto;
    }
}