nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 32px;
}

.hamburger {
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
    background-color: var(--main-color);
}

.last-line {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 0px;
    background-color: var(--main-color);
}

.nav-links {
    position: fixed;
    width: 100vw;
    top: 6rem;
    left: 0;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-white-color);
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--main-color);
}

.dark .nav-links a {
    color: var(--white-color);
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }
    
    .nav-links a {
        display: inline-block;
        padding: 5px 13px;
    }
    .hamburger {
        display: none;
    }
}