:root {
    --primary-color: hsla(158, 41%, 88%, 1);
    --secondary-color: hsla(171, 11%, 24%, 0.15);
    --ternary-color: hsla(160, 22%, 78%, 1);
    --body-primary-color: hsla(185, 93%, 17%, 1);
    --body-secondary-color: hsla(171, 11%, 24%, 1);
    --title-primary-color: hsla(185, 93%, 17%, 1);
    --title-secondary-color: hsla(38, 100%, 70%, 1);


    --dark-primary-color: hsla(229, 18%, 12%, 1);
    --dark-secondary-color: hsla(171, 11%, 24%, 0.15);
    --dark-ternary-color: hsla(207, 90%, 72%, .16);
    /* --dark-ternary-color: hsla(230, 18%, 19%, 0.25); */
    --dark-body-primary-color: hsla(207, 90%, 72%, 1);
    --dark-body-secondary-color: hsla(158, 41%, 88%, 1);
    --dark-title-primary-color: hsla(207, 90%, 72%, 1);
    --dark-title-secondary-color: hsla(38, 100%, 70%, 1);
}