:root {
    --primary-color: #77BEF8;
    --secondary-color: #181A23;
    --ternary-color: #F99417;
    --primary-bg-color: #181A23;
    --white-color: #F5F5F5;
    --dark-gold-color: #FFB534;
    --dark-primary-color: #181A23;
    --dark-secondary-color: #77BEF8;
}