---
import EducationDiploma from "../../components/EducationDiploma.astro";
import SubTitle from "../../components/SubTitle.astro";
import type { EducationItem } from "../../interfaces/educationDiplomaItem";
import SectionLayout from "../../layouts/SectionLayout.astro";

interface Props {
  educationItem: EducationItem[];
  title: string;
  logo: string;
}

const { educationItem, title, logo } = Astro.props;
---

<SectionLayout id="Certifications">
  <SubTitle
    title={title}
    logo={logo}
  />

  <div class="education-diplomas">
    {
      educationItem.length > 0 &&
        educationItem.map((item) => <EducationDiploma diploma={item} />)
    }
  </div>
</SectionLayout>

<style>
  .education-diplomas {
    margin: 20px 0 0 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  @media screen and (min-width: 768px) {
    .education-diplomas {
      margin: 70px 0 0 40px;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
  }
</style>
