---
import EducationDiploma from "../../components/EducationDiploma.astro";
import SubTitle from "../../components/SubTitle.astro";
import { getLangFromUrl, getTranslation } from "../../i18n/utils";
import type { EducationItem } from "../../interfaces/educationDiplomaItem";
import SectionLayout from "../../layouts/SectionLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
const educationItem = t("education").diplomas as EducationItem[];
---

<SectionLayout id="Education">
    <SubTitle title={t("education").title as string} logo={t("education").logo as string} />

    <div class="education-diplomas">
        {
            educationItem.length > 0 && educationItem.map(item => 
                <EducationDiploma diploma={item} />
            )
        }
    </div>
</SectionLayout>

<style>
    .education-diplomas {
        margin: 10px 0 0 17px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    @media screen and (min-width: 636px) {
        .education-diplomas {
            margin: 19px 0 0 40px;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
    }
</style>