---
import SubTitle from "../../components/SubTitle.astro";
import type { Stackitem } from "../../interfaces/stackItem";
import SectionLayout from "../../layouts/SectionLayout.astro";

interface Props {
  stackList: Stackitem[];
  title: string;
  logo: string;
}

const { stackList, title, logo } = Astro.props;
---

<SectionLayout id="Tools">
  <SubTitle
    title={title}
    logo={logo}
  />

  <div class="stack-container">
    {
      stackList.length > 0 &&
        stackList.map((stack) => {
          return (
            <img
              src={`../../images/${stack.logo}`}
              alt={stack.name}
              width="40"
              height="40"
            />
          );
        })
    }
  </div>
</SectionLayout>

<style>
  .stack-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px 0px;
  }
  img {
    width: 40px;
    height: auto;
    transition: all 300ms ease-in-out;
  }
  img:hover {
    transform: scale(1.2);
  }
  @media screen and (min-width: 768px) {
    .stack-container {
      margin-top: 70px;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px 5px;
    }

    img {
      width: 60px;
    }
  }
</style>
