---
interface Props {
    text: string
}

const { text } = Astro.props;
---

<div class="profile-email">
    <button class="first-container" aria-label="Open email integration">
        <span class="email-text" aria-valuetext={text} >@Email</span>
        <box-icon name='paper-plane' class="link" animation='tada-hover'></box-icon>
    </button>
    <button class="second-email-icon" aria-label="Copy email">
        <box-icon class="link" name='copy-alt' animation='tada-hover'></box-icon>
    </button>
</div>


<style>
    .profile-email {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .first-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid var(--secondary-color);
        border-radius: 12px 0 0 12px;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 300ms ease-in-out;
        padding: 0 8px;
        gap: 5px;
        cursor: pointer;
        background-color: transparent;
    }
    .first-container:hover {
        background-color: var(--secondary-color);
    }
    :global(.dark) .first-container {
        border: solid var(--dark-secondary-color);
    }
    :global(.dark) .first-container:hover {
        background-color: var(--dark-secondary-color);
    }
    .email-text {
        line-height: 32px;
        color: var(--secondary-color);
        font-size: 12px;
        font-weight: bolder;
        font-family: "Montserrat", sans-serif;
    }
    .first-container:hover .email-text {
        color: var(--primary-color);
    }
    :global(.dark) .email-text {
        color: var(--dark-secondary-color);
    }
    :global(.dark) .first-container:hover .email-text {
        color: var(--dark-primary-color);
    }
    .first-container .link {
        fill: var(--secondary-color);
        width: 24px;
        height: 24px;
        margin-left: 2px;
    }
    :global(.dark) .first-container .link {
        fill: var(--dark-secondary-color);
    }
    .first-container:hover .link {
        fill: var(--dark-secondary-color);
    }
    :global(.dark) .first-container:hover .link {
        fill: var(--dark-primary-color);
    }
    .second-email-icon {
        width: 40px;
        background-color: transparent;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid var(--secondary-color);
        transition: all 300ms ease-in-out;
        cursor: pointer;
    }
    .second-email-icon:hover {
        background-color: var(--secondary-color);
    }
    :global(.dark) .second-email-icon {
        border: solid var(--dark-secondary-color);
    }
    :global(.dark) .second-email-icon:hover {
        background-color: var(--dark-secondary-color);
    }
    .second-email-icon .link {
        fill: var(--secondary-color);
        width: 26px;
        height: 26px;
    }
    .second-email-icon:hover .link {
        fill: var(--primary-color);
    }
    :global(.dark) .second-email-icon .link {
        fill: var(--dark-secondary-color);
    }

    :global(.dark) .second-email-icon:hover .link {
        fill: var(--dark-primary-color);
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sendEmailBtn = document.querySelectorAll(".first-container");
        const emailElement = document.querySelectorAll(".email-text");
        const copyEmailBtn = document.querySelectorAll(".second-email-icon");

        const email = emailElement[0]?.getAttribute("aria-valuetext") ?? "";

        if (sendEmailBtn && copyEmailBtn) {

            sendEmailBtn.forEach(e => {
                e.addEventListener("click", () => {
                    const gmailUrl = `https://mail.google.com/mail/?view=cm&fs=1&to=${email}&su=Informacion&body='`;
                    window.open(gmailUrl, '_blank');
                });
            })

            copyEmailBtn.forEach(e => {
                e.addEventListener("click", () => {
                    navigator.clipboard.writeText(email);
                });
            });
        }
    });
</script>