---
import type { Job } from "../interfaces/jobDescription";
import JobDescription from "./JobDescription.astro";

const { jobs } = Astro.props;
---

<div class="job-container">
  {jobs && jobs.map((job: Job) => <JobDescription job={job} />)}
  <div class="initial-container">
    <div class="line"></div>
    <div class="circle"></div>
  </div>
</div>

<style>
  .job-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .initial-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line {
    display: flex;
    width: 1px;
    height: 70px;
    background-color: var(--body-primary-color);
    border-radius: 5px;
  }

  :global(.dark) .line {
    background-color: var(--dark-body-primary-color);
  }

  .circle {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: var(--body-primary-color);
    border-radius: 50%;
  }

  :global(.dark) .circle {
    background-color: var(--dark-body-primary-color);
  }
</style>
