---
import {
  getLangFromUrl,
  getTranslation,
  formatDefautlBaseLanguage,
} from "../i18n/utils";
import ThemeIcon from "./ThemeIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
const baseLanguage = formatDefautlBaseLanguage(lang);
---

<nav>
  <div class="nav-links">
    <a
      class="nav-link"
      href={`/${baseLanguage}#Experience`}
      aria-label="Experience section">{t("nav.experience")}</a
    >
    <a
      class="nav-link"
      href={`/${baseLanguage}#About`}
      aria-label="About section">{t("nav.about")}</a
    >
    <a
      class="nav-link"
      href={`/${baseLanguage}#Projects`}
      aria-label="Project section">{t("nav.projects")}</a
    >
    <a
      class="nav-link"
      href={`/${baseLanguage}#Education`}
      aria-label="Education section">{t("nav.education")}</a
    >
    <ThemeIcon />
  </div>
</nav>

<script>
  const navLink = document.querySelector(".nav-links") as HTMLElement;
  const navLinkRect = navLink?.getBoundingClientRect();

  if (navLinkRect) {
    window.addEventListener("scroll", () => {
      const topLimit = navLinkRect.top + window.pageYOffset;

      if (topLimit > 100) {
        navLink.classList.add("nav-links-scroll");
      } else {
        navLink.classList.remove("nav-links-scroll");
      }
    });
  }
</script>

<style>
  nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .nav-links {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    background-color: transparent;
    border-radius: 50px;
    margin: 10px 15px;
    padding: 0 15px;
  }

  .nav-links a {
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--body-secondary-color);
    transition: all 300ms ease-in-out;
  }

  :global(.dark) .nav-links a {
    color: var(--dark-body-secondary-color);
  }

  .nav-links-scroll {
    background-color: hsla(160, 41%, 88%, 0.85);
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px) saturate(200%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  :global(.dark) .nav-links-scroll {
    background-color: hsla(229, 18%, 12%, 0.8);
    backdrop-filter: blur(10px) saturate(200%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      justify-content: center;
      gap: 20px;
      width: auto;
      margin: 0 auto;
    }

    .nav-links a {
      font-size: 1.1rem;
      padding: 5px 13px;
    }
  }
</style>
