---
import { getLangFromUrl, getTranslation, formatDefautlBaseLanguage } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
const baseLanguage = formatDefautlBaseLanguage(lang);
---

<div class="nav-links">
    <a href={`/${baseLanguage}`}>{t('nav.home')}</a>
    <a href={`/${baseLanguage}#Experience`}>{t('nav.experience')}</a>
    <a href={`/${baseLanguage}#Projects`}>{t('nav.projects')}</a>
</div>