---
interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;
---

<a
  class="contact-info-cv"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Open CV"
>
  <span class="cv-text">{text}</span>
  <box-icon class="link" name="link-external" animation="tada-hover"></box-icon>
</a>

<style>
  .contact-info-cv {
    border-radius: 8px;
    border: 2px solid var(--body-secondary-color);
    background-color: var(--body-secondary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 3px 10px;
    gap: 5px;
    transition: all 350ms ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-info-cv:hover {
    background-color: var(--body-primary-color);
    border-color: var(--body-primary-color);
    scale: 1.1;
  }

  :global(.dark) .contact-info-cv:hover {
    border-color: var(--dark-body-primary-color);
    background-color: var(--body-secondary-color);
  }

  .cv-text {
    line-height: 0.7rem;
    color: var(--primary-color);
    font-size: var(--font-size-paragraph-body-small);
    letter-spacing: 0.025rem;
    font-weight: bolder;
    transition: all 300ms ease-in-out;
  }

  :global(.dark) .contact-info-cv:hover .cv-text {
    color: var(--dark-body-primary-color);
  }

  .link {
    fill: var(--primary-color);
    width: 16px;
    height: 16px;
    margin-left: 2px;
    transition: all 300ms ease-in-out;
  }

  :global(.dark) .contact-info-cv:hover .link {
    fill: var(--dark-body-primary-color);
  }

  @media (min-width: 768px) {
    .cv-text {
      font-size: var(--font-size-paragraph-body);
    }

    .contact-info-cv {
      border: 3px solid var(--body-secondary-color);
      padding: 6px 12px;
      transition: all 300ms ease-in-out;
      text-decoration: none;
      border-radius: 12px;
    }
  }
</style>
