---
interface Props {
    text: string
}

const { text } = Astro.props;
---

<div class="profile-cv">
    <span class="cv-text">{text}</span>
    <span class="cv-icon">
        <box-icon class="link" name='link-external' animation='tada-hover'></box-icon>
    </span>
</div>

<style>
    .profile-cv {
        border-radius: 12px;
        border-color: var(--secondary-color);
        border-style: solid;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;
    }

    .cv-text {
        padding: 0 10px;
        line-height: 32px;
        color: var(--secondary-color);
        font-size: 12px;
        font-weight: 600;
    }

    .cv-icon {
        width: 32px;
        height: 32px;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .cv-icon .link {
        fill: var(--primary-color);
        width: 24px;
        height: 24px;
        margin-left: 2px;
    }

    :global(.dark) .profile-cv {
        border-color: var(--dark-secondary-color);
    }

    :global(.dark) .cv-text {
        color: var(--white-color);
    }

    :global(.dark) .cv-icon {
        background-color: var(--dark-secondary-color);
    }

    :global(.dark) .cv-icon .link {
        fill: var(--dark-primary-color);
    }
</style>

