---
const { text } = Astro.props;
---

<div class="profile-cv">
    <span class="cv-text">{text}</span>
    <span class="cv-icon">
        <box-icon class="link" name='link-external' animation='tada-hover'></box-icon>
    </span>
</div>

