---
import type { Link } from '../interfaces/projectItem'

interface Props {
    linkItem: Link
}

const { linkItem } = Astro.props;
---

<div>
    <a class="link-item" href={linkItem.url} target="_blank" rel="noopener noreferrer">
        <span class="link-logo" set:html={linkItem.icon}></span>
        <span class="link-name">{linkItem.name}</span>
    </a>
</div>

<style>
    .link-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        border-radius: 30px;
        background-color: var(--secondary-bg-color);
        padding: 4px 11px;
    }

    :global(.dark) .link-item {
        background-color: #273446;
    }

    .link-logo {
        display: flex;
        justify-content: center;
        margin: 0;
        fill: var(--secondary-color);
    }

    :global(.dark) .link-logo {
        fill: var(--dark-secondary-color);
    }

    .link-name {
        font-size: 10px;
        font-weight: bold;
        line-height: 24px;
        color: var(--secondary-color);
    }

    :global(.dark) .link-name {
        color: var(--dark-secondary-color);
    }

    @media screen and (min-width: 636px) {
        .link-name {
            font-size: 12px;
            line-height: 24px;
        }
    }
</style>