---
import type { Technology } from '../interfaces/projectItem'

interface Props {
    techItem: Technology
}

const { techItem } = Astro.props;
---

<div class="technology-item" style={`background: ${techItem.backgroundColor};`}>
    <span class="technology-logo" set:html={techItem.logo}></span>
    <span class="technology-name">{techItem.technology}</span>
</div>

<style>
    .technology-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 6px;
        border-radius: 30px;
        padding: 5px 10px;
    }

    .technology-logo {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .technology-name {
        font-size: 12px;
        font-weight: bold;
        line-height: 22px;
    }
</style>