---
import Email from "../components/Email.astro";
import OpenCV from "../components/OpenCV.astro";
import { getLangFromUrl, getTranslation } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
---

<footer>
    <h4>¿Quieres contactarme?</h4>
    <div class="footer-social-container">
        <OpenCV text={t("profile.cv") as string} />
        <Email text={t("profile.email") as string} />
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 80px;
    }

    h4 {
        margin: 0 0 10px 0;
        font-size: 18px;
    }

    .footer-social-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
</style>