---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/header.css";
---

<header>
    <nav>
        <Navigation />
        <Hamburger />
    </nav>
</header>