---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header>
    <nav>
        <Navigation />
        <ThemeIcon />
        <Hamburger />
    </nav>
</header>

<style>
    nav {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 32px;
    }
</style>