---
import { getLangFromUrl, getTranslation } from "../i18n/utils";
import OpenCV from "../components/OpenCV.astro";
import Email from "../components/Email.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import "../styles/skeleton.css"

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
---
<SectionLayout id="/" className="profile">
    <div class="profile-img-section">
        <div>
            <img class="img-profile skeleton" src="./images/profile.avif" alt="profile" sizes="(max-width: 635px) 50px, (min-width: 636px) 100px" width="70" height="70" />
        </div>
        <a class="profile-tag" href={t("profile.icon.linkedin") as string} target="_blank">
            <span>{t("profile.tag")}</span>
        </a>
    </div>
    <h1>{t("profile.gretting")}</h1>
    <div class="profile-description-section">
        <span class="first">{t("profile.description-1")}</span>
        <span class="second">{t("profile.description-2")}</span>
        <span class="third">{t("profile.description-3")}</span>
    </div>
    <div class="profile-contact-container">
        <div class="profile-social-section">
            <a class="icon-container" href={t("profile.icon.linkedin") as string} target="_blank" aria-label="Open linkeding webpage">
                <box-icon type='logo' name='linkedin' animation='flashing-hover' class="icon"></box-icon>
            </a>
            <a class="icon-container" href={t("profile.icon.github") as string} target="_blank" aria-label="Open github webpage">
                <box-icon name='github' type='logo' animation='flashing-hover' class="icon" ></box-icon>
            </a>
        </div>
        <div class="profile-contact-section">
            <OpenCV text={t("profile.cv") as string} />
            <Email text={t("profile.email") as string} />
        </div>
    </div>
</SectionLayout>

<style>
    .profile-img-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .img-profile {
        width: 70px;
        object-fit: cover;
        border-radius: 50%;
    }

    h1 {
        margin: 17px 0 0 0;
        font-size: 32px;
        color: var(--secondary-color);
        transition: all 300ms ease-in-out;
    }

    :global(.dark) h1 {
        color: var(--white-color);
    }

    .profile-description-section {
        font-size: 18px;
        font-weight: 500;
        margin-top: 13px;
        line-height: 26px;
    }

    .profile-description-section .first {
        color: var(--secondary-color);
    }

    :global(.dark) .profile-description-section .first {
        color: var(--primary-color);
    }

    .profile-description-section .second {
        color: var(--secondary-color);
    }

    :global(.dark) .profile-description-section .second {
        color: var(--white-color);
    }

    .profile-description-section .third {
        color: var(--ternary-color);
    }

    :global(.dark) .profile-description-section .third {
        color: var(--dark-gold-color);
    }

    .profile-contact-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        gap: 7px;
        box-sizing: border-box;
    }

    .profile-social-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .icon-container {
        width: 45px;
        cursor: pointer;
    }

    .icon-container :hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .icon {
        fill: var(--secondary-color);
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
    }

    :global(.dark) .icon {
        fill: var(--dark-secondary-color);
    }

    .profile-tag {
        background-color: var(--secondary-bg-color);
        padding: 8px 10px;
        border-radius: 10px;
        display: flex;
        align-content: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 300ms ease-in-out;
    }

    .profile-tag:hover {
        background-color: var(--secondary-bg-color-hover);
        padding: 10px 12px;
    }

    :global(.dark) .profile-tag:hover {
        background-color: var(--dark-secondary-bg-color-hover);
    }

    .profile-tag span {
        color: var(--secondary-color);
        font-size: 12px;
        font-weight: 800;
        line-height: 12px;
    }

    :global(.dark) .profile-tag {
        background-color: var(--dark-secondary-bg-color);
    }

    :global(.dark) .profile-tag span {
        color: var(--dark-secondary-color);
    }

    @media screen and (min-width: 636px) {
        h1 {
            font-size: 42px;
        }

        .profile-description-section {
            font-size: 20px;
            margin-top: 20px;
            line-height: 30px;
        }

        .profile-contact-container{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        
        .profile-contact-section {
            margin-top: 24px;
            gap: 30px;
        }    
    }

    @media screen and (max-width: 375px) {
        .profile-contact-section {
            gap: 25px;
            flex-direction: column;
        }
    }
</style>