---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/sections/Header.astro";
import Project from "../../components/sections/Project.astro";
---

<BaseLayout pageTitle="Andres Marquez">
	<Header />
	<main>
		<Project />
	</main>
</BaseLayout>
