---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Experience from "../../sections/Experience.astro";
import Header from "../../sections/Header.astro";
import Profile from "../../sections/Profile.astro";
import Project from "../../sections/Project.astro";
---

<BaseLayout pageTitle="Andres Marquez">
	<Header />
	<main>
		<Profile />
		<Experience />
		<Project />
	</main>
</BaseLayout>
