---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/sections/Header.astro";
import TitleSection from "../../components/sections/TitleSection.astro";
import { getLangFromUrl, getTranslation } from "../../i18n/utils";
import ContactInfo from "../../components/sections/ContactInfo.astro";
import Paragragh from "../../components/Paragragh.astro";
import SubTitle from "../../components/SubTitle.astro";
import type { Job } from "../../interfaces/jobDescription";
import JobContainer from "../../components/JobContainer.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
---

<BaseLayout pageTitle={t("pageTitle") as string}>
  <Header />
  <main>
    <TitleSection
      title={t("experience").title as string}
      className="experience-title-section"
      id="experience-title-section"
    />
    <Paragragh
      text={t("experience").description as string}
      className="experience"
    />
    <ContactInfo />
    <SubTitle
      title={t("experience").subtitle as string}
      logo={t("experience").subtitleLogo as string}
    />
    <JobContainer jobs={t("experience").jobs as Job[]} />
  </main>
</BaseLayout>
