---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Experience from "../../components/sections/Experience.astro";
import Footer from "../../components/sections/Footer.astro";
import Header from "../../components/sections/Header.astro";
import Project from "../../components/sections/Project.astro";
---

<BaseLayout pageTitle="Andres Marquez">
	<Header />
	<main>
		<Experience />
		<Project />
		<Footer />
	</main>
</BaseLayout>
